.gameBlock {
    margin: 10px;
    padding: 10px;
    border: solid 2px black;
    background-color: rgba(223, 223, 223, 0.7);
}

body {
    background-image: url('../../Images/black-and-white-blank-challenge-connect-262488.jpg');
    height: 1000px;
}

.secretLetter {
    font-weight: 600;
}

.userInput {
    height: 15px;
    width: 200px;
    font-size: 14px;
}
