@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,669;0,700;0,800;0,900;1,400;1,500;1,600;1,669;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.globalColorsAndLetters {
    background-image: url('../../Images/fondenigme2v2.jpg');
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
}

.mainimage {
    height: 300px;
}

.letterToChoose {
    display: flex;
}

.oneletter {
    width: 40px;
    font-size: 40px;
    text-transform: uppercase;
    border: solid 1px black;
    padding: 10px;
    margin: 3px;
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrongLetter {
    color: #de5a5a;
    font-size: 24px;
    justify-content: center;
    display: flex;
}

.explanations {
    font-style: italic;
    font-family: 'Vollkorn';
    font-size: 16px;
}

h1 {
    font-family: 'Abril Fatface';
    text-align: center;
    font-size: 60px;
}

.click {
    width: 30px;
    height: 30px;
    margin-top: 100px;
    margin-left: 100px;
}
