.gif {
    height: 300px;
    width: 300px;
    border-radius: 4px;
}

.white {
    color: white;
}

.globalPage {
    height: 700px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.indications {
    color: white;
}
