.page {
    background-image: url('../../Images/home.jpg');
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white {
    color: white;
}

.explanations {
    color: white;
    font-size: 18px;
    text-align: center;
}

.startButton {
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 4px;
    background-color: #ad1616;
    color: white;
}

.startButton:hover {
    background-color: #cb7171;
}

.rectangle {
    background-color: rgba(157, 158, 158, 0.4);
    height: 300px;
    margin: 40px;
    width: 500px;
    border-radius: 4px;
}
