@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,669;0,700;0,800;0,900;1,400;1,500;1,600;1,669;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.globalSecretExitPage {
    background-image: url('../../Images/fondenigme3.jpg');
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
    background-color: black;
    width: 100%;
}

.whiteh1 {
    font-family: 'Abril Fatface';
    text-align: center;
    font-size: 60px;
    color: white;
}

.explanations {
    font-style: italic;
    font-family: 'Vollkorn';
    font-size: 16px;
    color: white;
    margin-left: 20px;
    text-align: center;
}

.downArrow {
    color: black;
    left: 100px;
    position: relative;
    top: 5px;
}

.secondDownArrow {
    top: 80px;
    color: black;
    left: 100px;
    position: relative;
}

.diagonaleArrow {
    position: relative;
    top: 150px;
    color: black;
    left: 200px;
}

.rightArrow {
    top: 200px;
    color: black;
    left: 320px;
    position: relative;
}

.secondDiagonaleArrow {
    top: 300px;
    color: black;
    left: 450px;
    position: relative;
}

.exitCross {
    top: 302px;
    position: relative;
    color: black;
    left: 470px;
}
