@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,669;0,700;0,800;0,900;1,400;1,500;1,600;1,669;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
    margin: 0;
    font-family: 'Lato';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1 {
    font-family: 'Abril Fatface';
    text-align: center;
    font-size: 60px;
}

.explanations {
    font-style: italic;
    font-family: 'Vollkorn';
    font-size: 16px;
}

.wrongAnswer {
    color: #de5a5a;
}

.validationButton {
    padding: 8px 0 8px 0;
    font: bold 16px Arial;
    color: #484141;
    border-radius: 6px;
    width: 160px;
    border: solid 2px#484141;
    margin-left: 8px;
    background: none;
    outline: none;
    font-family: 'Lato';
}
